a:hover, a:focus {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid $link-hover-color;
}

.radio, .radio-inline {
  input[type='radio'] {
    margin-top: 6px;
  }
}

.checkbox, .checkbox-inline {
  input[type='checkbox'] {
    margin-top: 6px;
  }
}

.popover {
  z-index: 999999999;
}

.label, .badge {
  font-size: 75%;
}

label {
  display: block;

  &.inline {
    display: inline-block;
  }
}

#app-container {
  display: block;
}

#container {
  min-height: 100vh;
  /**
  * Making the <body> element behave like a flexbox container:
  */

  /* Ye Olde Flexbox for Webkit */
  display: -webkit-box;
  /* Tweener flexbox */
  display: -ms-flexbox;
  /* Prefixed "new flexbox" */
  display: -webkit-flex;
  /* unprefixed standard "new flexbox" version */
  display: flex;

  /**
  * Making the things inside <body> line up vertically
  */

  /* Your grandparents flexbox for Webkit */
  -webkit-box-orient: vertical;
  /* Prefixed new syntax: */
  -webkit-flex-direction: column;
  /* Same syntax for weird IE tweener */
  -ms-flex-direction: column;
  /* unprefixed new syntax */
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #container {
    height: 100%;
  }
}

div#__bs_notify__ {
  z-index: 10000000000000000 !important;
  background-color: rgb(103, 136, 255) !important;
}

.modal-backdrop.in {
  opacity: 0.5;
  position: fixed;
  top: 0; left: 0;
  right: 0; bottom: 0;
}

// perfect-scrollbar
.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 6px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s ease, opacity .2s ease;
    -webkit-transition: background-color .2s ease, opacity .2s ease;
    -moz-transition: background-color .2s ease, opacity .2s ease;
    transition: background-color .2s ease, opacity .2s ease;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 6px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s ease, opacity .2s ease;
    -webkit-transition: background-color .2s ease, opacity .2s ease;
    -moz-transition: background-color .2s ease, opacity .2s ease;
    transition: background-color .2s ease, opacity .2s ease;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: white;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 6px;
    background-color: #aaa;
    -o-transition: background-color .2s ease;
    -webkit-transition: background-color.2s ease;
    -moz-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 6px;
    background-color: #aaa;
    -o-transition: background-color .2s ease;
    -webkit-transition: background-color.2s ease;
    -moz-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}


